.toolbarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 5px;
  position: absolute;
  right: -75px;
  top: 10%;
  height: 80%;
  border: dashed 1px var(--jonquil);
}

.toolbarContainer::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--jonquil);
}

.toolPickerButton {
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 4px;
}

.toolPickerModal {
  height: 460px;
  overflow: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 45px;
  z-index: 50;
}
