.kudoCard {
  min-width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  border: 1px dashed var(--jonquil);
  border-radius: 5%;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 480px) {
  .kudoCard {
    min-width: 300px;
  }
}

.cardTitle {
  padding: 15px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  position: relative;
}

.gifContainer {
  opacity: 0.2;
  position: absolute;
  top: -5px;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.jonquil {
  background-color: var(--jonquil);
}

.giants-orange {
  background-color: var(--giants-orange);
}

.red-pantone {
  background-color: var(--red-pantone);
}

.rebecca-purple {
  background-color: var(--rebecca-purple);
}

.moon-stone {
  background-color: var(--moon-stone);
}

.rich-black {
  background-color: var(--rich-black);
}
