.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.inputContainer input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--cornsilk);
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--moon-stone);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.inputContainer input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 150ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--moon-stone);
  background-color: var(--moon-stone);
  border-radius: 50%;
}

.inputContainer input[type="radio"]:checked::before {
  transform: scale(1);
}

.cardColor {
  width: 30px;
  height: 20px;
  border-radius: 10%;
}

.jonquil {
  background-color: var(--jonquil);
}

.giants-orange {
  background-color: var(--giants-orange);
}

.red-pantone {
  background-color: var(--red-pantone);
}

.rebecca-purple {
  background-color: var(--rebecca-purple);
}

.moon-stone {
  background-color: var(--moon-stone);
}

.rich-black {
  background-color: var(--rich-black);
}
