:root {
  --cornsilk: #ffffff;
  --jonquil: #f9c80e;
  --giants-orange: #f86624;
  --red-pantone: #ea3546;
  --rebecca-purple: #662e9b;
  --moon-stone: #43bccd;
  --rich-black: #0c1618;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--moon-stone);
}

::-webkit-scrollbar-thumb {
  background: var(--jonquil);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e3e33b;
}

html {
  background-color: var(--cornsilk);
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: var(--rich-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input {
  margin: 0;
}
