.submit,
.button {
  padding: 10px 15px;
  font-weight: 700;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  color: var(--rich-black);
  background-color: var(--giants-orange);
  border: none;
  cursor: pointer;
}

.submit:hover {
  font-size: 0.9em;
}

.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.secondary {
  color: var(--cornsilk);
  background-color: var(--moon-stone);
}
