.bottomBar {
  margin: 10px 0;
}

.carouselContainer {
  width: 100%;
  height: 37.5px;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
}

.sliders {
  display: flex;
  width: fit-content;
  animation: scrollHorizontal 120s linear infinite;
}

.quote {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 20rem;
}

.icon {
  margin-right: 0.5rem;
}

@keyframes scrollHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
