.formContainer {
  text-align: center;
}

.interactiveSection {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10%;
  align-items: center;
  justify-content: center;
  padding: 30px 5%;
}

@media (max-width: 800px) {
  .interactiveSection {
    grid-template-columns: 100%;
    gap: 10px;
    justify-items: center;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 3em;
}
