.formContainer {
  text-align: center;
}

.interactiveSection {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20%;
  padding: 15px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .interactiveSection {
    grid-template-columns: 100%;
  }
}
